html {
    margin-bottom: 62px;
}

.new-podcasts {
    margin-left: 10px;
}

#channel-banner {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
}

.class-div {
  border-bottom: 2px solid grey;
}

.play-icon {
  display: inline;
  height: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.play-icon .fa {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-0 {
  padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.compensate-margin {
    margin-left: -15px;
    margin-right: -15px;
}

.navbar-fixed-bottom {

}

#footer .fa {
  display: inline;
}

#footer .fa-stack {
  font-size: .8em;
}

#footer {
  background-color: #696969;
  position: relative;
  color: white;
  min-height: inherit;
  line-height: 60px;
  text-align: center;
  font: Verdana;
}

#footer a {
  color: white;
}

#footer a.active {
  color: yellow;
}

 /* navbar */
.navbar-inverse {
    background-color: #696969;
    border-color: #696969;
    margin-bottom: 0;
}
/* Title */
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: grey;
}
/* Link */
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: grey;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: lightgrey;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}
