* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: Arial, serif;
    background-color: #3498DB;
    padding: 50px;
    min-width: 500px;
}

.login {
    margin: 20px auto;
    width: 400px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.main {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.title {
    text-align: center;
}

.clockdate-wrapper {
    background-color: #333;
    padding: 15px;
    min-width: 400px;
    width: 80%;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}

#clock {
    font-family: sans-serif;
    font-size: 3em;
    font-size: 15vw;
    text-shadow: 0px 0px 1px #fff;
    color: #fff;
}

#checkboxDiv {
    font-family: sans-serif;
    font-size: 1.2em;
    font-size: 4vw;
    margin: 5px auto;
    color: #fff;
}

#date {
    letter-spacing: 5px;
    font-size: 1.3em;
    font-size: 4vw;
    font-family: arial, sans-serif;
    color: #fff;
}

#syncing {
    max-width: 500px;
    font-size: 1.4em;
    font-size: 4vw;
    margin: 5px auto;
    text-align: center;
}

#error-div {
    font-size: 2em;
    color: black;
    text-align: center;
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

.time-label {
    width: 20%;
}

input {
    text-align: center;
    background-color: #e6e6e6;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 1.5em;
    font-weight: 200;
    padding: 10px 0;
    width: 60%;
    transition: border .5s;
}

input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 2em;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 100%;
    margin: 0 auto;
}

.btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 1.2em;
    color: #444;
    display: block;
    margin-top: 12px;
}
