<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" type="text/css"/>
    <title>Edm LC Clock NTP Server</title>
    <script type="text/javascript" src="static/clock.js"></script>
</head>
<body style="padding: 10px; min-width: 420px;" id="main-body">
<div class="clockdate-wrapper">
    <div id='clock'>Loading Time...</div>
    <div id='date'>Loading Date...</div>
    <div id="checkboxDiv">
        12 Hour <input type="checkbox" style="width: 20px; margin:0px;" id="12Hour" checked>
    </div>
</div>
    <div id="error-div"></div>
    <div id="syncing"></div>
<a href="/set" class="btn btn-primary btn-large btn-block" style="width: 40%;">Set Time</a>
<script type="text/javascript">
    function setTime() {
        var today = new Date(Math.round(window.performance.now() + timeDelta));
        var hr = today.getHours();
        var min = today.getMinutes();
        var sec = today.getSeconds();

        min = padTime(min);
        sec = padTime(sec);

        var checkBox = document.getElementById("12Hour");

        if (checkBox.checked === true) {
            var ap = "am";
            if (hr > 12) {
                hr = hr - 12;
                ap = "pm"
            }
            if (hr === 0) {
                hr = 12;
            }
            hr = padTime(hr);
            document.getElementById("clock").innerHTML = hr + ":" + min + ":" + sec + "<span style=\"font-size:30px;\">" + ap + "</span>";
        } else {
            hr = padTime(hr);
            document.getElementById("clock").innerHTML = hr + ":" + min + ":" + sec
        }

        // Prevent display burn in, run pattern around midnight
        setTimeout(blankScreen, 1000);
    }

    $(document).ready(function () {
        startClock();
    });
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>
