<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/static/csslibs/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/csslibs/font-awesome.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/keyboard/index.css">
    <!-- jQuery library -->
    <script src="/static/jslibs/jquery.min.js"></script>
    <script src="/static/jslibs/axios.min.js"></script>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    {% block head_content %}
      <title>NTP Server</title>
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid padding-0">
      {% block body_content %} {% endblock %}
    </div>
    <script src="/static/jslibs/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="/static/keyboard/index.min.js"></script>
    <script src="/static/keyboard.js"></script>
  </body>
</html>
