{% extends "layout.html.j2" %}
{% block head_content %}
    <title>Edm LC Clock NTP Server</title>

    <script type="text/javascript" src="static/clock.js"></script>
{% endblock %}

{% block body_content %}
    <div class="main">
        <div class="row">
            <h2 class="title padding-0">NTP Clock</h2>
        </div>
        <div class="row">
            <div class="clockdate-wrapper">
                <div id='clock'>Loading Time...</div>
                <div id='date'>Loading Date...</div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12 col-sm-4">
                <span class="time-label">Hours: </span><input id="hours"/>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="time-label">Minutes: </span><input id="minutes"/>
            </div>
            <div class="col-xs-12 col-sm-4">
                <span class="time-label">Seconds: </span><input id="seconds"/>
            </div>
        </div>
        <div class="row">
            <div id="syncing"></div>
            <div id="error-div"></div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="simple-keyboard"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <button id="setTimeButton" onclick='setInputs()' style="margin-top: 15px;"
                        class="btn btn-primary btn-large btn-block">Set Inputs To Current
                </button>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <button id="openKeyboard" onclick='openKeyboard()' style="margin-top: 15px;"
                        class="btn btn-primary btn-large btn-block">Open Numpad
                </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <button id="setTimeButton" onclick='setServerTime()' style="margin-top: 15px;"
                        class="btn btn-primary btn-large btn-block">Set Time
                </button>
            </div>
        </div>
    </div>
    <div>
        <a style="margin-top: 10px;" href="/clock" class="btn btn-primary btn-large btn-block">View Clock Only</a>
        <a href="/logout" class="btn btn-primary btn-large btn-block">Logout</a>
    </div>

    <script type="text/javascript">
        function setTime() {
            var today = new Date(Math.round(window.performance.now() + timeDelta));
            var hr = today.getHours();
            var min = today.getMinutes();
            var sec = today.getSeconds();

            min = padTime(min);
            sec = padTime(sec);
            hr = padTime(hr);

            document.getElementById("clock").innerHTML = hr + ":" + min + ":" + sec;
        }

        $(document).ready(function () {
            $("#home_link").addClass('active');

            // Set input values
            setInputs();

            roughTime();

            // Start timer to refresh date/time from server
            var refresh = 15; // Refresh rate in milli seconds
            var t = setInterval(setTime, refresh);
            var d = setInterval(setDate, 60000);
            var s = setInterval(setSync, 1000);
            setSync();
            setDate();
            syncTime();

            // Setup listeners for enter key on each input field
            // Get the hours field
            var input = document.getElementById("hours");

            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    document.getElementById("setTimeButton").click();
                }
            });

            // Get the minutes field
            var input = document.getElementById("minutes");

            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    document.getElementById("setTimeButton").click();
                }
            });

            // Get the seconds field
            var input = document.getElementById("seconds");

            // Execute a function when the user releases a key on the keyboard
            input.addEventListener("keyup", function (event) {
                // Cancel the default action, if needed
                event.preventDefault();
                // Number 13 is the "Enter" key on the keyboard
                if (event.keyCode === 13) {
                    // Trigger the button element with a click
                    document.getElementById("setTimeButton").click();
                }
            });
        });
    </script>
{% endblock %}
